.icon {
    margin-right: 20px;
    color: white;
}

.divider {
    margin: 20px 0 0px 0;
    width: calc(100% - 30px);
    height: 1px;
    background-color: white;
}

.expandable {
    border: 1px solid white;
    border-top: none;
    box-sizing: border-box;
    width: calc(100% - 30px);
    padding: 20px;
}

.innerContent {
    animation: floatIn 0.2s;

    @keyframes floatIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.containerDivider {
    margin: 20px 0 20px 0;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #f0f0f0;
}

.contentHeader {
    display: inline-flex;

    animation: floatInH 0.2s;

    @keyframes floatInH {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
