.buttonRow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    margin: 0;

    @media (max-width: 650px) {
        justify-content: center;
        flex-direction: column;
    }
}
