.insideContainer {
    width: 100%;
    height: calc(100vh - 55px);
    padding-left: 30px;
    overflow-y: auto !important;

    @media (max-width: 650px) {
        padding-left: 0;
        margin-left: 8px;
        width: 95%;
    }
}
