.blooksWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;

    @media screen and (max-width: 650px) {
        align-items: center;
    }
}

.blookPackCategoryHolder {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: .5rem;
    background: var(--background-color);
    width: 95%;
}

.blookPackCategoryTitle {
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
}

.blookPackCategoryDivider {
    height: 5px;
    background: var(--accent-color);
    opacity: 0.15;
    margin-bottom: 10px;
}

.blookPackCategoryBlookHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

    &>* {
        user-select: none;
    }
}

.blookPackBlookHolder {
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.2);

    &[data-moveable="false"] {
        cursor: pointer;
        transition: .2s !important;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &[data-moveable="true"] {
        cursor: move;
    }

    &>p {
        margin: 0;
    }

    &>img {
        width: 55px;
        height: 63.25px;
        object-fit: cover;
    }

    &>video {
        width: 55px;
        height: 63.25px;
        object-fit: cover;
    }
}

.noBlooks {
    font-size: 20px;
    color: var(--accent-color);
    padding-bottom: 10px;
}
