.modal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 420px;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-color);
    border-radius: .5rem;
    text-align: center;
    box-sizing: border-box;

    @media only screen and (max-width: 600px) {
        min-width: unset;
        width: 100%;
        position: fixed;
        top: unset;
        left: unset;
        bottom: 0;
        transform: unset;
    }
}
