.input {
    width: 400px;
    font-family: "Nunito", sans-serif;
    border: 1px solid #3a3a3a;
    background-color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    outline: none;
    margin: 5px 0;
}

.buttonRow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 5px -10px;
}

.button {
    min-width: 110px;
    height: 30px;
    padding: 0 15px;
    font-size: 16px;
    box-sizing: border-box;
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
    background-color: #fff;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none; 
    cursor: pointer;
    transition: 200ms;

    &:hover {
        background-color: #3a3a3a;
        color: #fff;
    }
}