.searchRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.searchInput {
    width: 400px;
    font-family: "Nunito", sans-serif;
    border: 1px solid #3a3a3a;
    background-color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 40px;
    outline: none;
}

.searchButton {
    color: #fff;
    border: 1px solid #3a3a3a;
    background-color: #3a3a3a;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    font-size: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: 200ms;
}

.smallButtons {
    margin: 0 10px 0 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 164px;
    height: 40px;
}

.smallButton {
    width: 80px;
    height: 18px;
    padding: 0 10px;
    font-size: 12px;
    box-sizing: border-box;
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: 200ms;

    &:hover {
        background-color: #3a3a3a;
        color: #fff;
    }
}

.smallButtonSelected {
    background-color: #3a3a3a;
    color: #fff;
}

.bigRow {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.jsonContainer {
    width: 400px;
    min-width: 350px;
    background-color: #3a3a3a;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    overflow-x: auto;
}

.rightSide {
    margin-left: 15px;
}

.smallRow {
    display: flex;
    flex-flow: row wrap;
}

.userInfo,
.punished {
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #3a3a3a;
    color: #fff;
    margin: 5px;
}

.blacklisted {
    background-color: #000000;
}

.banned {
    background-color: #ce1313;
}

.muted {
    background-color: #cece13;
}

.button {
    min-width: 110px;
    height: 30px;
    padding: 0 15px;
    font-size: 16px;
    box-sizing: border-box;
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
    background-color: #fff;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: 200ms;

    &:hover {
        background-color: #3a3a3a;
        color: #fff;
    }
}

.buttonSelected {
    background-color: #3a3a3a;
    color: #fff;
}