.errorContainer {
    align-items: center;
    border: 1px solid #ce1313;
    display: flex;
    flex-direction: row;
    margin: auto auto 10px;
    border-radius: .5rem;
    max-width: 330px;
    width: 80%;

    &>i {
        color: #ce1313;
        height: 18px;
        margin-left: 13px;
        margin-right: 13px;
        min-width: 20px;
        -webkit-user-select: none;
        user-select: none;
        width: 20px;
    }

    &>div {
        color: var(--accent-color);
        font-size: 16px;
        margin: 5px 5px 5px;
        text-align: left;
    }
}
