.navHeader {
    width: 100%;
    height: 55px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.15);
    background-color: var(--background-color);
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    @media only screen and (max-width: 650px) {
        display: none;
    }
}

.homeLink {
    text-decoration: none;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--accent-color);
    font-size: 22px;
    font-weight: bold;
    user-select: none;
}

.logo {
    height: 100%;
    margin-right: 10px;
}

.rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    width: 45px;
    height: 45px;
    user-select: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
    color: var(--accent-color);
    opacity: 0.6;
    transition: 200ms;

    &:hover {
        opacity: .9;
    }
}
