.navHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    width: 220px;
    height: calc(100% - 55px);
    box-sizing: border-box;
    padding: 20px;
    background-color: #f7fafc;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    display: flex;
    flex-direction: column;
}

.homeLink {
    text-decoration: none;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3a3a3a;
    font-size: 22px;
    font-weight: bold;
    user-select: none;
}

.logo {
    height: 100%;
    margin-right: 10px;
}

.rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    width: 45px;
    height: 45px;
    user-select: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    color: #3a3a3a;
    opacity: 0.6;
    transition: 200ms;

    &:hover {
        opacity: .9;
    }
}
